.place__website-url-heading {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 14.52px;
  margin-bottom: 8px;
  margin-top: 0;
  text-decoration: none;
  text-transform: uppercase;
}
